*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(247, 223, 223);
}
h1{
  text-align: center;
  padding-top: 15px;
}
ul {
  padding: 10px;
}
ul li {
  padding-left: 20px;
}
ul li:before {
  content: '';
  padding-right: 5px;
  display: inline-block;
  width: 20px;
}
#directoryTree li:hover,
#disc-c li:hover,
#disc-d li:hover,
#disc-e li:hover{
  font-weight: bold;
  color:brown;
}